<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Detalle Cliente</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Id: </strong>{{cliente.id}}</li>
                    <li class="list-group-item"><strong>Nombre: </strong>{{cliente.nombre}}</li>
                    <li class="list-group-item"><strong>Ap.Paterno: </strong>{{cliente.apPaterno}}</li>
                    <li class="list-group-item"><strong>Ap.Materno: </strong>{{cliente.apMaterno}}</li>
                    <li class="list-group-item"><strong>Correo: </strong>{{cliente.correo}}</li>
                    <li class="list-group-item"><strong>Teléfono: </strong>{{cliente.telefono}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>